@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}

#container-login {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 315px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-register {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 480px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#title {
    position: relative;
    background-color: #1A1C1D;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.planeta{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.planetita{
    margin-top: 10%;
    height: 400px;
    width: 400px;;
}

.lock {
	position: relative;
	top: 2px;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-addon {
    float: left;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=text]:focus {
    border: 1px solid #373b3d;
}

input[type=password] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password]:focus {
    border: 1px solid #373b3d;
}

input[type=email] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=email]:focus {
    border: 1px solid #373b3d;
}

.forgot-password {
    position: relative;
    bottom: 0%;
}

.forgot-password a:link {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:visited {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #FFF;
    transition: color 1s;
}

.privacy {
    margin-top: 5px;
    position: relative;
    font-size: 12px;
    bottom: 0%;
}

.privacy a:link {
    color: #949494;
    text-decoration: none;
}

.privacy a:visited {
    color: #949494;
    text-decoration: none;
}

.privacy a:hover {
    color: #C1C3C6;
    transition: color 1s;
}

*:focus {
    outline: none;
}

.remember-me {
    margin: 10px 0;
}

input[type=submit] {
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
}

.clearfix {
    clear: both;
}

#register-link {
    margin-top: 10px;
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

body{
    
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}
/*Estilos para el encabezado*/
.header{
    background-color: #003162;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo{
    
    justify-content: center;
    align-items: center;
    height:100px;
}
.logaso{
    margin-left: 20%;
    height: 100px;
    width: 100px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}


.containerrecetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px; 


    margin-left: 20px; 
    margin-right: auto;
  }
  
  .containerrecetas .column {
    flex: 0 0 calc(33.3% - 20px);
    margin-bottom: 40px;
  }
  
  .column {
    width: 200px;
    margin: 10px;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: white;
  }
  
  .column:hover {
    transform: translateY(-5px);
  }
  
  
  .recipe img {
    width: 220px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .recipe img:hover {
    transform: scale(1.1);
  }
  
  .recipe h3 {
    margin-top: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .recipe:hover h3 {
    color: #ff9900;
  }
  
  .recipe ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .recipe li {
    font-size: 14px;
    margin-bottom: 5px;
  }


  /* SALA ESTILOS */

  .movie-container {
    margin: 20px 0;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
  }
  
  /* .showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  } */
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .showcase li small {
    margin-left: 2px;
  }

  .seat {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align:center;
    color:#ffffff
  }
  
  .seat.funcion {
      background-color: #444451;
      height: 26px;
      width: 200px;
      text-align:center;
      color:#ffffff
    }
  
  .seat.selected {
    background-color: green;
    color:#ffffff
  }
  
  .seat.sold {
    background-color: #fff;
    font-size: 20px;
    color:#040404
  }
  
  .seat.menu2 {
      background-color: #444451;
      font-size: 20px;
      width: 100px;
      color:#ffffff
    }
    a:hover{

        color: #bbbbbb
      }
      a{
        text-decoration: none;
        color: #ffffff
      }



.contenedor-principal{
    display: flex;
}

.contenedor-informacion{
    width: 40%;
    padding: 50px;
}

.contenedor-sala {
    perspective: 1000px;
    margin-bottom: 30px;
    width: 60%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }

  .seati {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seati.selected {
    background-color: green;
  }
  
  .seati.sold {
    background-color: #fff;
  }
.seatf {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seatf.selected {
    background-color: green;
  }
  
  .seatf.sold {
    background-color: #fff;
  }

.seati:nth-of-type(4) {
    margin-right: 41px;
  }

.seat:nth-of-type(4) {
  margin-right: 41px;
}

.seat:nth-last-of-type(2) {
  margin-left: 41px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.row {
    display: flex;
  }

.btn-ingreso-libre{
    color: red;
}


/* ESTILOS INSUMOS */

.centered-container {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.imagen-img {
  width: 300px;
  height: auto;
  border-radius: 5px;
  margin-right: 65px;
}

.text-container {
  flex: 1;
  margin-left: 100px;
}

.text-container h2 {
  font-size: 32px;
  margin-bottom: 40px;
}



.centered-container img {
  width: 400px;
  height: auto;
  border-radius: 100px;
  transition: transform 0.5s ease;
}

.centered-container img:hover {
  transform: scale(1.2);
}

.centered-container ul {
  list-style-type: none;
  padding: 0;
  
  margin-top: 10px;
}

.centered-container li {
  font-size: 22px;
  margin-bottom: 16px;
  
}


.text-container button {
  padding: 18px 62px;
  background-color: #FF9800;
  color: #FFF;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  margin-top: 10px;
}

.text-container button:hover {
  background-color: #FFB74D;
}

form input[type="submit"]{
  background-color: #0080ff;
  color: white;
}
