.sala-section{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 600px;
    height: 100px;
    background-color: gray;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    box-shadow: 5px 5px 5px 5px black ;
    transition: background-color 0.3s ease;
}

.sala-section:hover {
    background-color: #FFB74D;
  }

.numero{
    font-size: 30px;
    color: #003162;
    font-weight: bold;
}