.sala-section{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 300px;
    height: 400px;
    background-color: gray;
    border-radius: 25px;
    border: solid 1px white;
    text-decoration: none;
}

.numero{
    font-size: 90px;
    color: white;
}